PORT=10000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<dbname>?retryWrites=true&w=majority
JWT_SECRET=replace-with-strong-random-secret
ADMIN_EMAIL=admin@travouge.com
ADMIN_PASSWORD=replace-with-strong-password
traveladmin123@cluster0.uvu0e.mongodb.net
username:vidhyavakkiyil_db_user
password:XOSO081m6Pa6VgR5